[Unit]
Description=Update the Phase Commander platform
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=morten
WorkingDirectory=/opt/mtg/phase
ExecStart=/opt/mtg/phase/deploy/itc/update.sh

